@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--primary-color: #000000;
	--primary-color-light: #949494;
	--primary-color-dark: #444444;
  --text-dark: #000000;
  --text-light: #727274;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
}

.section__header {
	margin-bottom: 1rem;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 3rem;
	color: var(--text-dark);
	text-align: center;
}

.btn {
  max-width: fit-content;
  padding: 0.75rem 3.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--header-font);
  white-space: nowrap;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: var(--white);
  background-color: #444444 !important;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo img {
  max-width: 150px;
}

.logo-dark {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  white-space: nowrap;
  color: var(--white);
  transition: 0.3s;
}

.nav__links .btn {
  padding-inline: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 5px;
}

.header__container {
  display: grid;
  gap: 2rem;
}

.header__image {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__image img {
  max-width: 450px;
  margin-inline: auto;
}

img.header-bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 350px;
  opacity: 0.05;
  z-index: -1;
}

.header__image__content {
  text-align: center;
}

.header__image__content h4 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.header__content {
  text-align: center;
}

.header__content h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 3rem;
}

.header__content p {
  font-weight: 500;
  color: var(--text-light);
}

.product {
  overflow: hidden;
  background-image: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1));
}

.product__grid {
  margin-bottom: 4rem;
  display: grid;
  gap: 4rem;
}

.product__image img {
  max-width: 350px;
  margin-inline: auto;
  transform: rotate(-15deg);
}

.product__content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-direction: column;
}

.product__card {
  text-align: center;
}

.product__card h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

.product__card p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.product__card a {
  font-weight: 500;
  color: var(--text-light);
}

.product__card a:hover {
  color: var(--white);
}

.product__btn {
  text-align: center;
}

.product__btn .btn {
  color: var(--text-dark);
  background-color: var(--white);
}

.product__btn .btn:hover {
  color: var(--white);
  background-color: #444444;
}

.store__container h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.store__container p {
  margin-bottom: 4rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.swiper {
  width: 100%;
  padding-bottom: 5rem;
}

.swiper-slide {
  max-width: 400px;
}

.store__card h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.store__card img {
  max-width: 325px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.store__card h3 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--text-dark);
}

.footer {
  background-color: var(--text-dark);
}

.footer__container img {
  margin-bottom: 2rem;
  max-width: 225px;
  margin-inline: auto;
}

.footer__socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 2px 7px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--text-light);
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 175px;
  }

  .logo-white {
    display: none;
  }

  .logo-dark {
    display: flex;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--text-light);
  }

  .nav__links .btn {
    color: var(--white);
    background-color: var(--text-dark);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__image img {
    margin-inline-start: unset;
  }

  .header__image__content {
    position: absolute;
    right: 0;
    bottom: 2rem;
  }

  .header__content {
    text-align: left;
  }

  .header__content h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .product__card {
    text-align: left;
  }
}


.contact__container .row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}

.row .contact__information {
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}

.row .contact__input {
	flex-basis: 60%;
}
.contact__information .contact__icon {
	display: flex;
	align-items: center;
	margin: 25px 0;
}

.contact__icon .icon {
	width: 45px;
	height: 45px;
	background-color: var(--primary-color);
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}

.contact__icon .icon i {
	font-size: 20px;
	color: var(--white);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact__icon .contact__details span {
	display: block;
	color: var(--text-dark);
	font-size: 18px;
}

.contact__icon .contact__details span:nth-child(1) {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--text-dark);
}

.contact__social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;
}

.contact__social a {
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border-radius: 5px;
	background-color: var(--primary-color);
	transition: 0.4s;
	outline: none;
}
.contact__social a i {
	color: var(--white);
	font-size: 18px;
	line-height: 35px;
	border: 1px solid transparent;
	transition-delay: 0.4s;
}
.contact__social a:hover {
	transform: translateY(-5px);
	background-color: var(--primary-color-dark);
	color: var(--white);
	border: 1px solid var(--primary-color-dark);
	outline: none;
}
.contact__social a:hover i {
	color: var(--white);
}

.contact__input {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
}

.input {
	margin: 18px 0px;
	position: relative;
}

.contact__input .half-width {
	flex-basis: 48%;
}

.contact__input .full-width {
	flex-basis: 100%;
}

.contact__input input,
.contact__input textarea {
	width: 100%;
	font-size: 18px;
	padding: 10px 5px;
	color: var(--text-dark);
	border-radius: 5px;
	border-width: 2px 2px;
	border-color: var(--text-dark);
	outline: none;
}

.contact__input textarea {
	resize: none;
	height: 220px;
	display: block;
}

textarea::-webkit-scrollbar {
	width: 5px;
}

textarea::-webkit-scrollbar-track {
	background-color: #1e1e1e;
	border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 15px;
}

.input label {
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #888;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}

.input:nth-child(4) label {
	top: 2px;
}

.input button {
	width: 100%;
	padding: 8px 16px;
	font-size: 18px;
	background-color: var(--primary-color);
	color: var(--white);
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}

.input button:hover {
	background-color: var(--primary-color-dark);
	color: var(--white);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid var(--primary-color-dark);
}

@media (width > 1024px) {
	.special__grid {
		gap: 2rem;
	}

	.special__card {
		padding: 2rem;
		border-radius: 3rem;
	}
}

@media (max-width: 1100px) {
	.contact__input .half-width {
		flex-basis: 100%;
	}
}
@media (max-width: 900px) {
	.contact__container .row {
		flex-wrap: wrap;
	}
	.row .contact__information,
	.row .contact__input {
		flex-basis: 100%;
		margin: 0px;
	}
}